@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #92278f, // The primary color of your brand
  accent: #ba68c8 // The secondary color of your brand
));

@import "~vue-material/dist/theme/all"; // Apply the theme
@import "@/assets/scss/vars.scss";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/material.woff2) format('woff2'),url(https://ed808.com/fonts/material.woff2) format('woff2');
}
@font-face {
  font-family: mat;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mat.woff) format('woff'),url(https://ed808.com/fonts/mat.woff) format('woff');
}
.md-progress-bar.md-theme-default.md-indeterminate .md-progress-bar-track:after,
.md-progress-bar.md-theme-default.md-indeterminate .md-progress-bar-fill:after,
.md-progress-bar.md-theme-default.md-query .md-progress-bar-track:after,
.md-progress-bar.md-theme-default.md-query .md-progress-bar-fill:after {
  background-color: #92278f !important;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .8s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(0) }
}

@mixin main-center-content(){
  max-width: 800px;
  text-align: left;
  direction: ltr;
  margin: auto;
}
:root{
  --md-theme-default-primary : #92278f;
  --md-theme-default-accent : #ba68c8;
  --md-theme-default-scrollbar-on-background-variant: #aaa;
}
html{
  height:auto;
}
body{
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  position: unset !important;
  background-color:#fafafa;
}
.md-body-1, body {
  font-weight: 300;
  line-height: 1.6em;
  font-size: 17px;
}
#__layout > div {
  text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header#header{
  box-shadow: 0 1px 6px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.12) !important;
  background: #fff;
  z-index: 2;
  top: 0;
  right: 0;
  height: 90px;
  left: 0;
  position: absolute;
  .inner {
    max-width: none;
    padding: 0 36px;
    text-align: left;
    height: 100%;
    align-items: center;
  }
  + div {
    margin-top: 90px;
  }
  &.transparent {
    + div {
      margin-top: 0;
      padding-top: 90px;
      min-height: calc( 100vh - 120px);
    }
  }

  &.transparent {
    background: transparent;
    box-shadow: none !important;
    .header-menu-text {
      .md-menu {
        .md-button.md-theme-default {
          color: #fff !important;
          .md-button-content{
            color: #fff !important;

          }
        }
      }
    }
    .small-screen {
      .md-button {
        color: #fff;
        .md-icon.md-theme-default.md-icon-font.md-primary {
          color: #fff;
        }
      }
    }
  }

  .header-menu-right{
    text-align: right;
    margin-top: 4px;
  }
  img.logo {
    height: 36px;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      cursor: pointer;
    }
  }

    p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
  }
  span {
    font-size: 14px;
    font-weight: unset;
  }
}
.md-button {
	text-transform: capitalize;
}
.md-list-item .md-list-item-content {
  height: 36px;
  min-height: 36px !important;
}
.md-field.md-has-textarea:after,
.md-field.md-has-textarea:before {
  height: auto;
  pointer-events: none;
  top: 0;
  bottom: 0;
  padding: 5px;
  -webkit-transform: none;
  transform: none;
  background: none !important;
  border: 1px solid transparent;
  border-radius: 3px;
}
.md-field.md-has-textarea:before {
  border-width: 2px;
}
.md-field.md-has-textarea label {
  top: 16px;
  left: 16px;
}
.md-field.md-has-textarea .md-textarea {
  min-height: 100px;
  padding: 0 16px;
  resize: vertical;
}
.md-field.md-has-textarea > .md-icon {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 3;
}
.md-field.md-has-textarea .md-count {
  right: 6px;
  bottom: 2px;
}
.md-field.md-has-textarea .md-clear {
  top: 6px;
  right: 6px;
}
.md-field.md-has-textarea.md-focused label,
.md-field.md-has-textarea.md-has-value label {
  top: 6px;
}
.md-field.md-has-textarea.md-focused .md-textarea,
.md-field.md-has-textarea.md-has-value .md-textarea {
  padding-top: 10px;
}
.md-field.md-theme-default.md-focused.md-has-textarea:before {
  border-width: 2px;
  border-color: #92278f;
  border-color: #92278f;
  border-color: var(--md-theme-default-primary, #92278f);
}
.md-field.md-has-textarea:after{
  border-color: #d9d9d9!important;
}
.__nuxt-error-page {
  position: relative!important;
}
.md-button.md-just-icon {
  height: 41px;
  min-width: 41px;
  width: 41px;
  padding: 0;
  overflow: hidden;
  position: relative;
  line-height: 41px;
  font-size: 20px!important;
  position: relative;
  top: 0;
  i{
    font-size: 20px!important;
    position: relative;
    top: 0;
  }
}
.md-snackbar.error {
  background-color: #f44336;
}

.container,
.page-header .container,
.section .container {
  margin-right: auto;
  margin-left: auto;
  @media #{$m600} {max-width: 570px;}
  @media #{$m720} {max-width: 700px;}
  @media #{$m960} {max-width: 930px;}
  @media #{$m1280} {max-width: 1140px;}
}

//overriding some global bad css of core theme
a:not(.md-button):hover {
  text-decoration: none;
}
